* {
  box-sizing: border-box;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 768px) {

  /*Navbar*/

  .brand {
    white-space: nowrap;
    font-size: 14px;
  }
    .navInner {
    padding: 2px 6px;
    gap: 12px;
  }
    .navLinks a {
    padding: 4px 8px;
    font-size: 12px;
  }

  /*Hero*/
  .hero {
    height: auto;
    padding-top: 100px;
    overflow: hidden;
  }


  .heroInner {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  
    .heroText h1 {
    font-size: 24px;
    line-height: 1.25;
  }

  .heroText .accent {
    font-size: 1.2em;
    margin-bottom: 16px;
  }

  .meta {
    font-size: 12px;
    margin-top: 20px;
  }

  .photoGroup {
    width: 100%;
    display: flex;
    height: auto;
  }

  .photoBg {
    display: none;
  }

  .photoImg {
    width: 160px;
    height: auto;
    border-radius: 16px;
    display: none;
  }
  .scrollHint {
    display: none;
  }

  /*Section*/
  .section {
    max-width: 100%;
    padding: 0 16px;
  }

  .TextBlock {
    padding: 20px;
  }

  .section h1 {
    font-size: 18px;
  }
.section h2
  {
    font-size: 16px;
  }
  .section p {
    font-size: 14px;
  }

/*Contact*/
  .contactIntro {
    max-width: 100%;
  }
}
